body {
  font-family: Helvetica;
  text-align: center;
}
.head {
  background-image: url("C:/cygwin64/home/Shie%20Boon/broadway/resources/images/the-flatiron-building.png");
}
.head h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.head a {
  font-size: 18px;
  color: white;
}
.mid h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size 14px;
}
.leg-title {
  background-image: url("C:/cygwin64/home/Shie%20Boon/broadway/resources/images/the-flatiron-building.png");
  color: white;
}
